@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Noto+Sans+JP:wght@500;700&family=Poppins:wght@600&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
  }

  body{
    height: 100%;
    width: 70%;
  }

.left-menu{
    position: absolute;
    width: 237px;
    height: 100%;
    left: -8.5px;
    background: #FAFBFD;
    -webkit-box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
}

button{
    cursor: pointer;
}

.logo{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 2vw;
}

.logo a{
    text-decoration: none;
}

.menu{
    margin-top: 7vw;
}

.menu li{
    list-style-type: none;
    margin-top: 2.2vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: #9E9E9E;
}

.menu a{
    text-decoration: none;
}

.menu a:hover{
    text-decoration:underline;
}


.right{
    height: max-content;
    margin-left: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #4F4F4F;
    font-size: 18px;
}

.right span{
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.row-1-area-1{
    float: left;
    margin-right: 5vw;
}

.row-1-area-1 button{
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    border: none;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3F3F3F;
    transition: ease-in-out .4s;
}

.row-1-area-1:hover button, .row-1-area-1:focus button{
    background-color: #AEAEAE;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    color: #3F3F3F;
}

.row-2-area-1{
    float: left;
    margin-right: 5vw;
}

.row-2-area-1 button{
    background-color: white;
    border: solid 2px #3D5AFE;
    border-radius: 6px;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3D5AFE;
    transition:ease-in-out .4s;
}

.row-2-area-1:hover button, .row-2-area-1:focus button{
    background-color: rgba(41, 98, 255, 0.1);
    border: solid 2px #3D5AFE;
    border-radius: 6px;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3D5AFE;
}

.row-3-area-1{
    float: left;
    margin-right: 5vw;
}

.row-3-area-1 button{
    background-color: white;
    border: none;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3D5AFE;
    transition: ease-in-out .4s;
    border-radius: 6px;
}

.row-3-area-1:hover button, .row-3-area-1:focus button{
    background-color: rgba(41, 98, 255, 0.1);
}

.row-4-area-1 button{
    background-color: #3D5AFE;
    border: none;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: white;
    border-radius: 6px;
}

.row-5-area-1{
    float: left;
    margin-right: 5vw;
}

.row-5-area-1 button{
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    border: none;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3F3F3F;
}

.row-5-area-2 button{
    background-color: white;
    border: none;
    width: 81px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #9E9E9E;
}


.row-6-area-1{
    float: left;
    margin-right: 5vw;
}

.row-6-area-1 button{
    background-color: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    width: 105px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.row-6-area-2 button{
    background-color: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    width: 105px;
    height: 36px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.row-6-area-1 button::before {
    content: '🛒 ';
  }

  .row-6-area-2 button::after {
    content: ' 🛒 ';
  }


  .row-7-area-1, .row-7-area-2{
    float: left;
    margin-right: 5vw;
}

.row-7-area-1 button{
    width: 73px;
    height: 32px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.row-7-area-2 button{
    width: 81px;
    height: 36px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.row-7-area-3 button{
    width: 93px;
    height: 42px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.row-8-area-1, .row-8-area-2, .row-8-area-3{
    float: left;
    margin-right: 5vw;
}

.row-8-area-1 button{
    width: 81px;
    height: 36px;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #3F3F3F;
    transition: ease-in-out .4s;
}

.row-8-area-1:hover button, .row-8-area-1:focus button{
    background: #AEAEAE;
}


.row-8-area-2 button{
    width: 81px;
    height: 36px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.row-8-area-2:hover button, .row-8-area-2:focus button{
    background-color: #0039CB;
}

.row-8-area-3 button{
    width: 104px;
    height: 36px;
    background: #455A64;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.row-8-area-3:hover button, .row-8-area-3:focus button{
    background-color: #1C313A;
}


.row-8-area-4 button{
    width: 81px;
    height: 36px;
    background: #D32F2F;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    border: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    transition: ease-in-out .4s;
}

.row-8-area-4:hover button, .row-8-area-4:focus button{
    background-color: #9A0007;
}

footer h4{
    float: left;
    margin-top: 3vw;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #828282;
}

footer p{
    float: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
}
